<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/saveemp" name="frm" method="post" enctype="multipart/form-data">
    <input type="file" name="photo" value="" style="width: 400px;  height:400px">
    <input type="submit" name="s" value="Upload file to server">
    </form>
</body>
</html>